
---
---
<script>
    fetch("/src/words.txt")// get words from words.txt and put then in localstorage as ["word","word"]
    .then(x => x.text())
    .then(y =>{
        let textArr = y.split('\n');
        for(let i = 0; i < textArr.length; i++){
            localStorage.setItem(i.toString(),textArr[i].toString());
        }
    });
</script>
<script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js">import { string } from "astro/zod";
</script>

<html lang="en">
    <style>
        .word-container{
            display: flex;
            justify-content: left;
            flex-wrap: wrap;
            max-width: 200px;
            background-color: rgb(255, 255, 255);
            white-space: pre;
            
        }
        .nodeContainer{
            height = 10px;
        }
    </style>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Typer</title>
	</head>
	<body>
		<h1>Typer</h1>
	</body>
    <div>
        <div class="word-container" id="poop">
        </div>
        <input id="typermouth" type="text"><br>
        <br> 
    </div>
    <script is:inline>
        for(let i =0; i<20; i++){ // create container for each word. each word contains spans for each letter
            let newNodeContainer = "<div class='nodeContainer' id="+i+" >";
            let divContent = localStorage.getItem(Math.floor(Math.random()*3000).toString())+' ';
            let word="";
            for(let a = 0;a<divContent.length; a++){
                let newLetterContainer = "<span class= 'nodeLetter' >";
                let newLetter = divContent[a];
                let letterClose = "</span>"
                word= word+newLetterContainer+newLetter+letterClose;
            }
            let divClose = "</div>";

            $('#poop').append(newNodeContainer+word+divClose);

        }
        let stopUser = false;
        let isKeyDown = {};
        let x= 0;
        let wordLength = 0;
        let currletter = 0;
        //let allgreen = true;
        let redcount = 0;//keeps track of which letter is missed
        wordLength = document.getElementById(x).childElementCount; 
        for(let i =0; i<wordLength-1;i++)//underlines the first word except the space
        {
            document.getElementById(0).children[i].style.textDecoration = "underline"
        }
        $("#typermouth").keyup(function(e){
            isKeyDown[e.which] = false;
        }).on('keydown', function(e){
            //console.log("on.keydown firing: "+e.which)
            if(isKeyDown[e.which]){
                e.preventDefault();
                return;}
            if(e.which == 8){//let backspace fire repeatedly

            }
            else{
                isKeyDown[e.which] = true;
            }
            if(stopUser&&(e.which !== 8))
            {
                e.preventDefault();
                return;
            }
            stopUser = false;
            //console.log(e.which)
            let userinput = e.key
            let pattern = /^[-A-Za-z .']+$/;
            //console.log(userinput)
            if(!(pattern.test(userinput)&&((userinput.length <2)||(userinput =="Backspace") )))
            {
                console.log("not allowed")
                e.preventDefault();
                return;
            }
            if((redcount==0)&&(userinput === document.getElementById(x).children[currletter].textContent)){
                //if user types in correct letter
                // - highlight for correct letter
                document.getElementById(x).children[currletter].style.backgroundColor = "#9dfaa7";
                //set background green
                
            }else if(userinput == "Backspace"){
                
                if(currletter>0)
                {currletter--}
                else{
                    
                    
                    if(x==0){ 
                        
                        return;}
                    if(redcount==0){return;}
                    x--;
                    currletter = document.getElementById(x).childElementCount-1;
                    wordLength = document.getElementById(x).childElementCount;
                    
                }
                console.log(x+ "  "+ currletter+ "  "+ wordLength);
                document.getElementById(x).children[currletter].style.backgroundColor = "white";
                
                if(redcount>0){
                    redcount--;
                } 
                return;
                
            }else{
                document.getElementById(x).children[currletter].style.backgroundColor = "#fc9090";
                //set background red
                
                redcount++;
            }
            //console.log("redcount = "+redcount);
            currletter++;
            if(currletter==wordLength){
                //console.log("inside end word")
                x++;
                if((x==20)&&(!(redcount==0))){
                    redcount--;
                    x--;
                    currletter--;
                    document.getElementById(x).children[currletter].style.backgroundColor = "white";
                    e.preventDefault();
                    return;
                }
                currletter=0;
                
                if(x==20)
                {
                    //TODO: reset word field and related data
                    
                    for( i = 0; i<20;i++)
                    {
                        document.getElementById(i).remove();
                        let newNodeContainer = "<div class='nodeContainer' id="+i+" >";
                        let divContent = localStorage.getItem(Math.floor(Math.random()*3000).toString())+' ';
                        let word="";
                        for(let a = 0;a<divContent.length; a++){
                            let newLetterContainer = "<span class= 'nodeLetter' >";
                            let newLetter = divContent[a];
                            let letterClose = "</span>"
                            word= word+newLetterContainer+newLetter+letterClose;
                        }
                        let divClose = "</div>";

                        $('#poop').append(newNodeContainer+word+divClose);
                    }
                    x = 0;
                    wordLength = document.getElementById(x).childElementCount;
                    currletter = 0;
                    document.getElementById("typermouth").value = "";
                    e.preventDefault();
                    return;

                }

                wordLength = document.getElementById(x).childElementCount;
                if(redcount==0)
                {
                    document.getElementById("typermouth").value = "";
                    e.preventDefault();
                    for(let i =0; i<wordLength-1;i++)//underlines next word
                    {
                        document.getElementById(x).children[i].style.textDecoration = "underline"
                    }
                    
                    for(let i =0; i<document.getElementById(x-1).childElementCount-1;i++)//de-underlines last word
                    {
                        document.getElementById(x-1).children[i].style.textDecoration = "none";
                    }
                    
                }
                
                //$("#poop").html(localStorage.getItem(Math.floor(Math.random()*3000)));
            }
            console.log(x+ "  "+ currletter+ "  "+ wordLength);
            
        });
    </script>
</html>
